* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../images/background.jpg") no-repeat center center/cover;
}
h1 {
  text-align: center;
}
#myChart {
  margin: auto;
  background-color: darkkhaki;
  opacity: 0.7;
}
#none {
  display: none;
}
.spiner {
  border-top: 2px solid aqua;
  border-bottom: 2px solid gray;
  border-right: 2px solid gray;
  border-left: 2px solid gray;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  margin: auto;
  animation: spinin 1s infinite linear;
}
@keyframes spinin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem;
  gap: 1rem;
}
.continent {
  color: white;
  background-color: chocolate;
  border: none;
  padding: 0.2rem 1rem;
}

.specific {
  color: white;
  background-color: rgb(14, 14, 100);
  border: none;
  padding: 0.2rem 1rem;
}
